#Dependencies desription on top of raspbian 8 jessie no-desktop version with noobs:

## Basic tools
--------------
sudo apt-get install vim
sudo apt-get install git
sudo apt-get install screen
apt-get install python-pip python-dev build-essential




##Snowboy stuff dependencies: 
------------------------------
cd
wget http://portaudio.com/archives/pa_stable_v190600_20161030.tgz
tar xvf pa_stable_v190600_20161030.tgz 
cd portaudio
./configure && make
sudo make install
sudo apt-get install libasound-dev
pip install pyaudio
sudo apt-get install sox
sudo apt-get install libopenblas-dev 
sudo apt-get install libatlas-base-dev 
sudo apt-get install python-pyaudio python3-pyaudio sox


cd
wget https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.1.1.tar.bz2
tar jxf rpi-arm-raspbian-8.0-1.1.1.tar.bz2
ln -s rpi-arm-raspbian-8.0-1.1.1 snowboy
#note run defining PYTHONPATH=snowboy snowboyHotword.py


#Create py env for gaIpaDispatcher:
pip install flask


#3rd parties
sudo apt-get install kodi

