{
  "log": { "logTraces":"/tmp/ipaem.log",
           "logExceptions":"/tmp/ipaeme.log"
  },
  "audios": {
              "boot":"/home/pi/audios/ongoing.wav",
              "ack":"/home/pi/audios/shortBeep.wav",
              "gawaiting":"/home/pi/audios/ding.wav",
              "gafinished":"/home/pi/audios/dong.wav",
              "waitpls":"/home/pi/audios/fax_call.wav",
              "fail":"/home/pi/audios/errorBeep.wav",
              "crash":"/home/pi/audios/glass.wav"
  },
  "LocalActions" : {
      "Volume":  {  "input":"local volume",
                    "output":
                        {  
                          "next" :"chat"
                        },
                    "nextLevel": 
                        { 
                          "commonOutput" : {
                              "cmd": "amixer -c 0 set PCM ARG1",
    			                    "background":false,
                              "feedback": "ack",
                              "next" :"end" },
                          "up":     { "input": "up",  "arg1": "5dB+"}, 
                          "down":   { "input": "down",  "arg1": "5dB-"}, 
                          "top":    { "input": "top",   "arg1": "100%"},
                          "low":    { "input": "low",   "arg1": "50%"},
                          "mute":   { "input": "mute",  "arg1": "mute"},
                          "unmute": { "input": "back",  "arg1": "unmute"}
                        }
                },
      "Radio":  {   "input":"radio",
                    "output":
                        {  
    			                "background":true,
                          "next" :"chat"
                        },
                    "nextLevel": 
                        { 
                          "commonOutput" : {
                              "cmd": "/opt/ipaem/gaIpaDispatcher/tuneInWrapper.sh ARG1",
    			                    "background":true,
                              "feedback": "waitpls",
                              "next" :"end" },
                          "OndaCero":   { "input": "onda",   "arg1": "s185285"}, 
                          "CadenaSer":  { "input": "cadena ser",  "arg1": "s163234"}, 
                          "COPE":       { "input": "sports",  "arg1": "p1017052"},
                          "esRadio":    { "input": "is radio",     "arg1": "s111410"},
                          "BBCWSN" :    { "input": "bbc",          "arg1": "s24948"},
                          "stop" :      { "input": "stop",         "arg1": "STOP", "feedback": "ack"}
                        }
                },
      "Test":  {   "input":"test",
                   "output":{  "cmd": "aplay --format=S16_LE --rate=16000 /home/pi/audios/test.raw",
			       "background":true,
                               "feedback": "ack",
                               "next" :"end"
                            }
               },
      "Chet":  {   "input":"chet baker",
                   "output":{  "cmd": "youtube-dl -o - https://www.youtube.com/watch?v=KWzJGRh_Tsw | vlc -",
			       "background":true,
                               "feedback": "ack",
                               "next" :"end"
                            }
               },
      "PianoJazz":  {   "input":"piano jazz",
                   "output":{  "cmd": "youtube-dl -o - https://www.youtube.com/watch?v=82TD06U4ppA | vlc -",
			       "background":true,
                               "feedback": "ack",
                               "next" :"end"
                            }
               },

      "Lights":  {   "input":"light",
                   "output":{  "cmd": "paplay /usr/share/sounds/freedesktop/stereo/complete.oga",
			       "background":false,
                               "feedback": "ack",
                               "next" :"chat"
                            }
               }
  }
}
