[Unit]
Description= IPAEM S is a Intelligent Personal Asisstant for EM usign snowboy software
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ipaem/ipaem.s.sh 
Restart=always

[Install]
WantedBy=multi-user.target



