[Unit]
Description= IPAEM P is a Intelligent Personal Asisstant for EM linking with local arduino device
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ipaem/piInoAgent/piInoAgent.py --config /etc/ipaem/ipaem.conf
Restart=always

[Install]
WantedBy=multi-user.target



