[Unit]
Description= IPAEM G is a Intelligent Personal Asisstant for EM using GA sdk
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ipaem/ipaem.g.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target



